.register-banner {
  height: 7rem;
  margin: 0;
  display: grid;
  align-items: center;
  background-color: #000;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;

  &__button {
    margin: 0 auto;
    width: max-content;
    padding: 0 2rem;
    border-radius: 10px;
    height: 5rem;
    background-color: green;
    text-transform: none;
  }
}
