.svg-container {
  padding: $gutter 0;
  max-width: 1600px;
  margin: 0 auto;

  @include respond(phone-port) {
    width: 90%;
  }

  &__desktop {
    @include respond(phone-port) {
      display: none;
    }
  }

  &__mobile {
    display: none;
    @include respond(phone-port) {
      display: block;
    }
  }
}
