.black-gold {
  background-color: var(--dark-body-bg);
  padding-bottom: 6rem;

  &__title {
    margin: 0;

    @include respond(iphone-8-plus-land) {
      width: 80%;
      margin: 0 auto;
    }
  }

  &__intro {
  }

  &__cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    justify-content: center;
    gap: 4rem;
    max-width: 90%;
    margin: 7rem auto 0 auto;

    @include respond(macbook-air) {
      grid-template-columns: repeat(2, 400px);
    }
    @include respond(ipad-pro-10-5) {
      width: 90%;
      grid-template-columns: repeat(2, 1fr);
    }
    @include respond(ipad) {
      width: 50%;
      grid-template-columns: 1fr;
    }
    @include respond(iphone-12-pro-land) {
      grid-template-columns: 1fr 1fr;
    }
    @include respond(iphone-8-plus-land) {
      grid-template-columns: 1fr;
    }
    @include respond(iphone-12-land) {
      grid-template-columns: 1fr;
    }
  }
}
