.hero {
  position: relative;
  min-height: 100vh;
  color: var(--white);
  display: flex;
  align-items: center;
  background: var(--dark-body-bg);

  &__container {
    display: grid;
    justify-items: center;
    align-items: center;
    min-height: 80vh;
    grid-template-rows: max-content 1fr;
    z-index: 1;
  }

  &__bottom-part {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1.1fr;
    gap: 6rem;
    min-height: 50vh;
  }

  &__right-part {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    transform: translateY(-8%);
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
  }

  &__title {
    margin-top: 0;
    font-size: 4.5rem;
    line-height: 1.3;

    @include respond(notebook) {
      font-size: 3.8rem;
    }
  }

  &__bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  &__ul {
    list-style: none;
    font-size: 1.8rem;
    font-weight: 300;
  }

  &__li {
    display: flex;
    align-items: center;
    gap: 2rem;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__li-icon {
    width: 8px;
  }
}
