.investment {
  background-color: var(--dark-body-bg);
  background-image: linear-gradient(to bottom, #161f60 0%, #040613 100%);
  padding: calc($gutter * 2) 0;

  &__title {
    margin: 0;
  }

  &__cards-container {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    justify-items: center;
    justify-content: center;
    gap: calc($gutter / 2);
    max-width: 90%;
    margin: $gutter auto;
  }

  &__disclaimer {
    font-size: 1.5rem;
    text-align: center;
  }
}

.investment-card {
  &__left {
    text-align: right;
    position: relative;

    .investment-card__image {
      position: relative;
      bottom: 0;
      right: 44%;
      transform: translateX(50%);
    }
  }

  &__right {
    .investment-card__image {
      position: relative;
      bottom: 0;
      left: 44%;
      transform: translateX(-50%);
    }
  }
  &__title {
    font-size: 2.2rem;
    margin: 0;
    letter-spacing: 3px;

    &--3 {
      text-transform: none;
      letter-spacing: 2px;
      font-family: $body-font;
    }
  }

  &__card-title {
    margin: 0;
    color: var(--color-tertiary);
    font-weight: 700;
    text-align: left;
    font-size: 2rem;

    &--left {
      text-align: right;
    }

    &--card-2 {
      grid-column: 1 / -1;
      text-align: center;
      width: 50%;
    }
  }

  &__text-container {
    border-right: 1px solid white;
    padding-right: 3rem;
    transform: translateX(3rem);
  }

  &__card {
    border: 1px solid var(--color-tertiary);
    padding: 5rem 5.5rem;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    margin-top: 4.5rem;
    position: relative;
    column-gap: $gutter;
    row-gap: 2rem;

    &--2 {
      border-color: var(--color-secondary);

      .investment-card__card-title {
        color: var(--color-secondary);
      }
    }

    &--3 {
      border-color: #068cff;

      .investment-card__card-title {
        color: #068cff;
      }
      .investment-card__subtitle {
        margin: 0;
      }
    }
  }

  &__card-title {
    margin: 0;
    font-size: 2rem;
  }

  &__subtitle {
    font-family: $body-font;
    font-size: 2.1rem;
    margin-top: 2rem;
    margin-bottom: 0;
    line-height: 1.2;
    max-width: 95%;
    margin-left: 0;
    margin-right: 0;
    text-transform: none;
    text-align: left;

    &--left {
      text-align: right;
      margin-left: auto;
    }
  }

  &__paragraph {
    margin: 4rem 0;
    text-align: left;

    &--left {
      text-align: right;
    }
  }

  &__image {
    max-width: 100%;

    &--2 {
      grid-column: 1 / -1;
    }
  }

  &__notice {
    color: #d0dae3;
    text-align: center;
    width: 85%;
    grid-column: 1 / -1;
    font-style: italic;
    font-size: 1.8rem;

    strong {
      color: #ffffff;
      font-weight: 600;
      font-size: 2rem;
    }
  }

  &__circle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 50px;
  }

  &__plus-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 7.5rem;
    transform: translate(5rem, 5rem);
  }
}
