.prime-time {
  background-color: var(--dark-body-bg);
  padding: $gutter 0 calc($gutter * 2) 0;
  position: relative;
  z-index: 1;

  @include respond(iphone-12-pro-max) {
    padding: 0 0 calc($gutter * 2) 0;
  }

  .intro,
  &__title,
  &__video {
    position: relative;
    z-index: 1;
  }

  &__title {
    margin: 0;
  }

  &__video {
    margin-top: calc($gutter * 3);
    width: 75%;
    margin-left: 50%;
    transform: translateX(-50%);

    @include respond(notebook) {
      margin-top: calc($gutter * 2);
    }
    @include respond(ipad-pro-11) {
      margin-top: calc($gutter * 1.5);
    }
    @include respond(iphone-12-pro-land) {
      margin-top: calc($gutter * 1);
    }
    @include respond(iphone-12-pro-max) {
      width: 100%;
    }
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transform: translateY(-13rem);
    width: 100%;

    @include respond(notebook) {
      transform: translateY(-8rem);
    }
    @include respond(ipad-pro-10-5-land) {
      transform: translateY(-3rem);
    }
    @include respond(ipad-pro-11) {
      transform: translateY(2rem);
    }
    @include respond(ipad) {
      transform: translateY(4.5rem);
    }
    @include respond(iphone-12-pro-land) {
      transform: translateY(4rem);
    }
    @include respond(big-desktop) {
      transform: translateY(-10rem) translateX(-50%);
      width: 60%;
      left: 50%;
    }
  }
}
