.solution {
  position: relative;
  min-height: 90vh;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px 11px 0px rgba(0, 4, 23, 0.55);

  @include respond(ipad-pro-12-9) {
    font-size: 2.3rem;
  }
  @include respond(iphone-12-pro-land) {
    padding: calc($gutter * 2) 0;
  }
  @include respond(iphone-12-land) {
    font-size: 2rem;
  }
  @include respond(iphone-12-pro-max) {
    padding: calc($gutter * 2) 0;
  }

  .container {
    @include respond(iphone-12) {
      padding: 0;
    }
  }

  &__title {
    margin: 0 auto 5rem auto;

    @include respond(ipad-pro-12-9) {
      font-size: 3.5rem;
    }
  }

  &__text,
  &__lead {
    width: 90%;
    margin: 0 auto;

    @include respond(iphone-12) {
      width: 95%;
      font-size: 2rem;
    }
  }

  &__p {
  }

  &__lead {
    font-style: italic;
  }

  &__btn {
    background-color: var(--color-primary-dark);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    width: 28rem;
    margin: 0 auto;
    height: 6.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    color: #fff;
    border-radius: 5px;
    margin-top: 5rem;
  }

  &__bg,
  &__bg-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }

  &__bg {
    z-index: -1;
  }

  &__bg-1 {
    z-index: -2;
  }
}
