.team {
  text-align: left;
  padding: calc($gutter * 2) 0;
  display: grid;

  &__title {
    color: var(--black);
    margin: 0;
  }

  &__title-container {
    margin-bottom: $gutter;
  }

  &__cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: $gutter;
    justify-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
}

.team-card {
  text-align: left;

  &__image {
    width: 100%;
    border: 1px solid #707070;
  }

  &__name {
    color: var(--black);
    font-size: 2rem;
    text-align: left;
    text-transform: none;
    margin-bottom: 0;

    @include respond(notebook) {
      height: 5.1rem;
    }
    @include respond(phone-land) {
      height: auto;
    }
    @include respond(phone-port) {
      height: auto;
    }
  }

  &__post {
    color: #d0dae3;
  }
}
