.timeline-section {
  background-color: var(--dark-body-bg);
  background-image: linear-gradient(to bottom, #161f60 0%, #040613 100%);
  padding: calc($gutter * 2) 0;

  &__title,
  &__big-title {
    margin: 0;
  }

  &__big-title {
    margin-top: $gutter;
    font-size: 5rem;
    margin-bottom: calc($gutter * 2.7);
  }

  &__bottom-text {
    margin-top: calc($gutter * 2);
    color: #e2ebf2;

    @include respond(ipad) {
      width: 80%;
    }
  }

  &__ul-container {
    display: grid;
    align-items: center;
    justify-items: center;
    margin-top: $gutter;

    @include respond(ipad) {
      width: 80%;
    }
  }

  &__ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__li {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 2rem;
  }
}

.timeline {
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  justify-items: center;

  &__left {
    padding-right: $gutter;
  }

  &__right {
    padding-left: $gutter;
  }

  &__center {
    background-color: rgba(6, 139, 255, 0.237);
    justify-self: flex-start;
    min-width: 1px;
    position: relative;
    transform: scaleY(1.01) translateY(-1%);

    &__pin {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-50%) translateY(-100%) scale(0.9);
    }
  }

  &__title {
    text-align: left;
    font-family: $body-font;
    font-size: 3rem;
    margin: 0;
  }

  &__text {
    &--caption {
      margin: 0.5rem 0;
    }
  }

  &__figure-container {
    &:not(:last-child) {
      margin-bottom: calc($gutter / 2);
    }

    .timeline__text--caption {
      margin-top: 0;
    }
  }

  &__amount {
    font-size: 5rem;
    margin: 0;
  }
}

.machines-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: calc($gutter / 2 + 10px);
  justify-items: center;

  &[data-type="small"] {
    gap: 1rem;

    .machines-container__row {
      gap: 1rem;
    }
  }

  &[data-type="medium"] {
    gap: 2.5rem;
    box-sizing: border-box;
    transform: translateX(0.7rem);

    .machines-container__row {
      gap: 2.5rem;
    }

    & + .timeline__text--caption {
      margin-top: 1.2rem;
    }
  }

  &__row {
    display: flex;
    gap: 0.5rem;
  }

  &__machine {
    &--small {
      transform: scale(1.1);
    }
    &--medium {
      transform: scale(1.5);
    }
  }
}
