.water-disaster {
  margin: $gutter auto;
  &__title {
    color: var(--color-primary-dark);
    margin: 0;
  }

  &__intro {
  }

  &__disaster {
    color: var(--color-secondary);
  }

  &__row {
    display: grid;
    gap: $gutter;
    grid-template-columns: 1fr 1.3fr;
    margin-top: $gutter;
    align-items: center;

    &--reverse {
      grid-template-columns: 1.3fr 1fr;
    }

    &--bottom {
      grid-template-columns: 1.3fr 1fr;
      gap: 14rem;

      .water-disaster__row__title {
        width: 80%;
      }
    }

    &__title {
      color: var(--black);
      font-size: 3.3rem;
      text-align: left;
    }

    &__image {
      width: 100%;
    }

    &__image-subtitle {
      font-size: 1.2rem;
      text-align: center;
    }
  }

  .hero__ul {
    padding: 0;
  }
}
