:root {
  // COLORS
  --color-primary: #0058ff;
  --color-secondary: #febe03;
  --color-tertiary: #fd7e01;
  --black: #93a4b1;
  --white: #ffffff;
  --dark-white: #93a4b1;
  --dark-body-bg: #000417;
  --body-bg-color: var(--white);

  --cards-shadow: 3px 3px 22px -12px rgba(0, 0, 0, 0.42);
}

//FONT FAMILY
$title-font: "kallisto", sans-serif;
$body-font: "Poppins", sans-serif;
$bold: 700;

// FONT-SIZES
$basic-font-size: 1.8rem;
$mobile-font-size: 1.5rem;

$big-title: 4.8rem;
$title-font-size: 3.3rem;
$mobile-title-font-size: 3rem;
