/*
=============================
$breakpoint argument choices
=============================
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > General layout + grid > page layout > components

1em = 16px
*/

@mixin respond($breakpoint) {
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } // 1800px
  }

  @if $breakpoint == big-laptop {
    @media only screen and (max-width: 115em) {
      @content;
    } // 1740px
  }

  @if $breakpoint == laptop {
    @media only screen and (max-width: 102.18em) {
      @content;
    } // 1635px
  }

  @if $breakpoint == macbook-air {
    @media only screen and (max-width: 90em) {
      @content;
    } // 1440px
  }

  @if $breakpoint == notebook {
    @media only screen and (max-width: 85.375em) {
      @content;
    } // 1366px
  }

  @if $breakpoint == ipad-pro-12-9-land {
    @media only screen and (max-width: 85.375em) {
      @content;
    } // 1366px
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } // 1200px
  }

  @if $breakpoint == ipad-pro-11-land {
    @media only screen and (max-width: 74.75em) {
      @content;
    } // 1196px
  }

  @if $breakpoint == ipad-pro-10-5-land {
    @media only screen and (max-width: 69.5em) {
      @content;
    } // 1112px
  }

  @if $breakpoint == ipad-land {
    @media only screen and (max-width: #{calc(1024 / 16)}em) {
      @content;
    } // 1024px
  }

  @if $breakpoint == ipad-pro-12-9 {
    @media only screen and (max-width: #{calc(1024 / 16)}em) {
      @content;
    } // 1024px
  }

  @if $breakpoint == iphone-12-pro-land {
    @media only screen and (max-width: #{calc(926 / 16)}em) and (max-height: #{calc(500 / 16)}em) {
      @content;
    } // 926px
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 64em) {
      @content;
    } // 900px
  }

  @if $breakpoint == iphone-12-land {
    @media only screen and (max-width: #{calc(844 / 16)}em) and (max-height: #{calc(500 / 16)}em) {
      @content;
    } // 844px
  }

  @if $breakpoint == ipad-pro-10-5 {
    @media only screen and (max-width: 52.125em) {
      @content;
    } // 834px
  }

  @if $breakpoint == ipad-pro-11 {
    @media only screen and (max-width: 52.125em) {
      @content;
    } // 834px
  }

  @if $breakpoint == phone-land {
    @media only screen and (max-width: 51.25em) {
      @content;
    } // 820px
  }

  @if $breakpoint == iphone-12-mini-land {
    @media only screen and (max-width: #{calc(780 / 16)}em) and (max-height: #{calc(500 / 16)}em) {
      @content;
    } // 780px
  }

  @if $breakpoint == ipad {
    @media only screen and (max-width: 48em) {
      @content;
    } // 768px
  }

  @if $breakpoint == iphone-8-plus-land {
    @media only screen and (max-width: #{calc(736 / 16)}em) and (max-height: #{calc(500 / 16)}em) {
      @content;
    } // 736px
  }

  @if $breakpoint == phone-port {
    @media only screen and (max-width: 28.125em) {
      @content;
    } // 450px
  }

  @if $breakpoint == iphone-5 {
    @media only screen and (max-width: 21.875em) {
      @content;
    } // 350px
  }

  @if $breakpoint == short-laptop {
    @media only screen and (max-height: 50em) {
      @content;
    } // 800px
  }
}
