.footer {
  background-color: var(--dark-body-bg);
  padding: calc($gutter * 2) 0;
  color: #ffffff;
  position: relative;
  padding-top: 50vh;

  &__container {
    display: grid;
    justify-items: center;
    width: 30%;
    z-index: 10;
    position: relative;

    @include respond(macbook-air) {
      width: 40%;
    }
    @include respond(ipad-pro-10-5-land) {
      width: 50%;
    }
    @include respond(ipad) {
      width: 70%;
    }
  }

  &__ul {
    list-style: none;
  }

  &__li {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 2rem;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  &__social-icons {
    margin-top: $gutter;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
  }

  &__copyright {
    color: var(--black);
    text-align: center;
    min-width: max-content;
    margin-top: calc($gutter / 2);
  }

  &__background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
  }
}
