// IMPORT NORMALIZE.CSS
@import "../../node_modules/normalize.css/normalize.css";

// IMPORT BOOTSTRAP REQUIRED MODULES
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// IMPORT BOOTSTRAP OPTIONAL MODULES
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/utilities/api";

@import "./abstracts/abstracts";
@import "./abstracts/mediaqueries";

@import "./base/base";
@import "./base/global-classes";

@import "./typography/typography";

@import "./utils/utils";

@import "./sections/hero";
@import "./sections/black-gold";
@import "./sections/water-disaster";
@import "./sections/investment";

@import "./components/gold-card";
